body {
    font-family: "Poppins";
}

.popover #popover-title {
    font-size: calc(0.5rem + 1vw);
}

.popover .list-group-item {
    font-size: calc(0.7rem + 0.4vw);
}

/* custom style for navbar */
.__navbar-brand {
    text-align: center;
}

.__navbar-nav {
    white-space: nowrap;
    background: rgba(255, 111, 0, 0.8);
    /* padding: 10px 20px; */
    /* vertical-align: middle; */
}

.__navbar-nav .nav-link {
    color: black;
    font-size: calc(0.3rem + 1.4vw);
}

.__navbar-nav > .active-link .nav-link {
    border-bottom: 2px solid #18405b;
}
.__navbar-nav > .active-link .nav-link:hover {
    border-bottom: 2px solid white;
}

.__navbar-nav .nav-link:hover {
    color: white !important;
}

.__navbar-nav .dropdown-item {
    font-size: calc(0.3rem + 1.4vw);
}

.__nav-title {
    background: rgba(0, 8, 255, 0.5);
    padding: 10px 20px;
}

.__nav-text-title {
    margin-bottom: 0;
    font-size: calc(0.7rem + 1.5vw);
    font-weight: bold;
    letter-spacing: 0.5rem;
}

.__nav-text-subtitle {
    margin-bottom: 0;
    font-size: 12.3px;
    text-transform: uppercase;
    margin-top: 5px;
}

/* .__nav-search {
    background: #66b653;
    padding: 10px 20px;
}

.__nav-search form {
    margin-bottom: 10px;
} */

.__lang {
    background: #dadbfc;
}

.__lang img {
    background: #dadbfc;
    width: 30% !important;
    cursor: pointer;
}

/* custom style for header */
.header-popover-container h1 {
    font-size: calc(0.5rem + 1vw);
}

.bg-odd {
    background: rgba(0, 8, 255, 0.5);
}

.bg-even {
    background: rgba(255, 111, 0, 0.5);
}

.container-overlay {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.content-overlay {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    z-index: 5;
}

/* custom style for card slider anggota */
.card-slider-title {
    color: #18405b;
    text-align: center;
    font-size: calc(1rem + 8vw);
    font-style: normal;
    font-weight: 900;
    line-height: calc(1rem + 8vw);
}

.card-slider-subtitle {
    color: #000000;
    text-align: center;
    font-size: calc(0.1rem + 4vw);
    font-style: normal;
    font-weight: 900;
    line-height: 10px;
}

.card-slider-desc {
    text-align: center;
    color: #666;
    font-size: calc(0.6rem + 1vw);
}

.card-slider-image-subtitle {
    font-size: calc(0.5rem + 1vw);
}

.horizontal-line {
    width: 100%;
    border-bottom: 10px solid #18405b;
}

/* custom style for news */
.img-zoom-hover img {
    transition: all 1s ease-in-out;
    width: 100%;
}
.img-zoom-hover:hover img {
    transform: scale(1.2, 1.2);
}

/* custom style for mitra */
.mitra-title {
    font-size: calc(0.5rem + 1vw) !important;
}

.horizontal-line-2 {
    border-bottom: 5px solid #18405b;
}

.custom-slider {
    height: 60px;
    position: relative;
    width: 100%;

    display: grid;
    place-items: center;
    overflow: hidden;
}

.custom-slide-track2 {
    width: calc(150px * 15);
    display: flex;
    animation: scroll2 15s linear infinite;
    justify-content: space-between;
}

.custom-slide {
    width: 150px;
    height: 60px;

    display: grid;
    place-items: center;
    transition: 0.5s;
    cursor: pointer;
}
.custom-slide:hover {
    transform: scale(0.8);
}

@keyframes scroll2 {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(calc(-150px * 5));
    }
}

/* custom style for Peulang Tender & Mitra Kerja */
.ptmk-title {
    font-size: calc(1rem + 1vw);
}

.ptmk-entry {
    font-size: calc(0.1rem + 2vw);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Poppins";
}

/* custom style for footer */
.footer-img {
    height: calc(5rem + 5vw);
    width: auto;
}

.footer-contact-us {
    font-size: calc(1.3rem + 0.8vw);
}

.footer-detail-text {
    font-size: calc(0.5rem + 0.8vw);
}

.footer-copyright {
    font-size: calc(0.3rem + 1vw);
}

/* BS lg breakpoint */
@media (min-width: 992px) {
    .popover #popover-title {
        font-size: calc(0.9rem + 0.3vw);
    }

    .popover .list-group-item {
        font-size: calc(0.8rem + 0.1vw);
    }

    /* for navbar */
    .__navbar-nav .nav-link {
        color: black;
        font-size: calc(0.1rem + 0.8vw);
    }

    .__navbar-nav .dropdown-item {
        font-size: calc(0.1rem + 0.8vw);
    }

    .__nav-search input {
        font-size: calc(0.1rem + 0.5vw);
    }

    /* for header */
    .header-popover-container h1 {
        font-size: calc(1rem + 1vw);
    }

    /* for slider anggota */
    .card-slider-title {
        font-size: calc(2.3rem + 3.3vw);
    }

    .card-slider-subtitle {
        font-size: calc(0.1rem + 2vw);
    }

    .card-slider-desc {
        text-align: justify;
        font-size: calc(0.5rem + 0.5vw);
    }

    .card-slider-image-subtitle {
        font-size: calc(0.7rem + 0.1vw);
    }

    /* for Peulang Tender & Mitra Kerja */
    .ptmk-title {
        font-size: calc(0.3rem + 1vw);
    }

    .ptmk-entry {
        font-size: calc(0.3rem + 1vw);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: "Poppins";
    }

    /* for footer */
    .footer-img {
        height: calc(0.3rem + 5vw);
        width: auto;
    }

    .footer-detail-text {
        font-size: calc(0.1rem + 0.6vw);
    }

    .footer-copyright {
        font-size: calc(0.1rem + 0.6vw);
    }
}

@media screen and (max-width: 768px) {
    .offcanvas-body {
        padding: 0;
    }

    .offcanvas-body ul {
        align-items: start !important;
    }

    .offcanvas-body ul > li {
        margin-bottom: 5px;
    }

    .__navbar-nav .nav-link {
        color: black;
        font-size: calc(1rem);
    }

    .__navbar-nav .dropdown-item {
        font-size: calc(0.75rem);
    }

    .custom-slide-track2 {
        width: calc(80px * 15);
    }

    .header-popover-container h1 {
        font-size: calc(1.5rem + 1vw);
    }

    .custom-slide {
        width: 80px;
    }

    .ptmk-entry {
      color: #FFF;
      text-align: center;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: Poppins;
      font-style: normal;
      font-weight: 900;
    }

    .__kementrian {
      font-size: calc(1rem + 2vw);
    }

    .__badan-lembaga {
        font-size: calc(1rem + 2vw);
    }

    .__badan-lembaga span {
        font-size: 33px !important;
    }

    .__bumn {
      font-size: calc(2.5rem + 2vw);
    }

    .__donor {
      font-size: calc(1rem + 2vw);
    }
    .__donor span {
      font-size: calc(0.7rem + 2vw);
    }

    .__asosiasi {
      font-size: calc(1rem + 2vw);
    }

    .__perguruan {
      font-size: calc(1rem + 2vw);
    }

    .__peraturan {
      font-size: calc(1rem + 2vw);
    }

    .__referensi {
      font-size: calc(1rem + 2vw);
    }

    @keyframes scroll2 {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(calc(-80px * 5));
        }
    }
}
